.App {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.content {
  padding: 25px;
}
.error-text {
  color: red;
  font-style: italic;
}

.ant-layout-sider,
.ant-layout-header,
.ant-layout-footer,
.ant-layout,
.site-layout-background {
  background: #fff !important;
}

.header-image {
  height: 50px;
  padding: 10px;
}

.about-logo {
  height: 80px;
  margin-top: 75px;
  margin-bottom: 125px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.header-steps {
  height: 300px;
  padding-top: 100px;
}

.align-left {
  text-align: left;
}

.content .card-image,
.content .ant-card {
  width: 300px !important;
}

.ant-card {
  display: inline-grid;
}

.dropzone {
  border: 1px dotted lightgray;
  padding-top: 20px;
  height: 100px;
  cursor: pointer;
}

.ant-input {
  /* max-width: 400px; */
  margin-top: 5px;
  margin-bottom: 5px;
}

.ant-input-group-wrapper {
  margin: 10px;
}

.ant-layout-header {
  background: white !important;
}

.ant-btn,
.ant-btn-circle {
  /* padding: 10px 20px 10px 20px !important; */
  margin: 10px;
}

.nav-logo {
  height: 25px;
}
